<button mat-icon-button (click)="back()">
    <mat-icon>keyboard_backspace</mat-icon>
</button>

<div class="center">
    <img src="/assets/logo_p6.png" alt="logo" class="logo" />

    <h1>Inscription</h1>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <label for="username">Nom d'utilisateur</label>
        <input type="text" id="username" formControlName="username">
        <label for="email">Adresse e-mail</label>
        <input type="email" id="email" formControlName="email">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" formControlName="password">

        <button mat-stroked-button type="submit" class="submit">S'inscrire</button>
    </form>
</div>