.topic-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    width: 100%;

    .topic-vignette {
        background-color: #f5f5f5;
        padding: 2em;
        border-radius: 1em;
        width: 60vh;

        h3 {
            font-weight: bold;
        }

        .sub {
            border-color: #7763c5;
            background-color: #7763c5;
            color: white;
            display: block;
            width: 20vh;
            margin: auto;
        }
    }
}