<div class="center">

  <!-- Gestion du chargement -->
  <div *ngIf="isLoading" class="spinner">Chargement...</div>

  <!-- Gestion des erreurs -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <!-- Liste des topics -->
  <div class="topic-list" *ngIf="!isLoading && !errorMessage">
    <div *ngFor="let topic of topics" class="topic-vignette">
      <h3>{{ topic.topic }}</h3>
      <p>{{ topic.description | slice:0:95 }} ...</p>
      <button mat-button class="sub" (click)="subscribe(topic.id)">S'abonner</button>
    </div>
  </div>
</div>