.comment-list {
    margin-top: 3em;
}

.comment-vignette, .comment-form {
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
    margin: 3em auto auto auto;
    align-items: flex-start;

    @media (max-width: 768px) {
        width: 100%;
        flex-wrap: wrap;
    }

    p {
        background-color: #eeeeee;
        border-radius: 1em;
        padding: 1em;
        width: 50vh;
        min-height: 10vh;
    }

    span {
        display: inline-block;
        margin-right: 10em;

        @media (max-width: 768px) {
            order: 2;
            margin-left: auto;
            margin-right: 0;
        }
    }
}

.comment-form {
    text-align: center;

    form {
        width: 100%;
        margin: auto;
        

        .textarea {
            margin: auto 1em auto auto;
            width: 85%;
            min-height: 15vh;
            vertical-align: middle;

            @media (max-width: 768px) {
                width: 100%;
                margin: auto auto auto auto;
            }
        }

        textarea {
            min-height: 15vh;
        }

        .submit-desktop {
            color: #7763c5;
            width: 5vh;
            cursor: pointer;
            
            @media (max-width: 768px) {
                display: none;
            }
        }

        .submit-mobile {
            color: #7763c5;
            width: 5vh;
            cursor: pointer;
            vertical-align: middle;
            display: none;
            
            @media (max-width: 768px) {
                display: inline;
            }
        }

        textarea {
            @media (max-width: 768px) {
                width: 90%;
            }
        }
    }
}