<div class="center">

    <div class="entete">
      <button mat-button class="create" routerLink="create">Créer un article</button>
      <span (click)="changerSort()">Trier par <mat-icon>{{ arrowicon }}</mat-icon></span>
    </div>

    <!-- Gestion du chargement -->
    <div *ngIf="isLoading" class="spinner">Chargement...</div>
  
    <!-- Gestion des erreurs -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  
    <!-- Liste des posts -->
    <div class="post-list" *ngIf="!isLoading && !errorMessage">
      <div *ngFor="let post of posts" class="post-vignette" (click)="detail(post.id)">
        <h3>{{ post.title }}</h3>
        <p class="infos">
            <span>
                {{ post.createdAt | date:'dd/MM/yyyy, h:mm a' }}
            </span>
            <span>
                {{ post.user.username }}
            </span>
        </p>
        <p>Content: {{ post.content | slice:0:100 }} ...</p>
      </div>
    </div>
  </div>