<div class="center">
    <button mat-icon-button (click)="back()">
        <mat-icon>keyboard_backspace</mat-icon>
    </button>

    <div class="post-form">
        <h2>
            Créer un nouvel article
        </h2>

        <form [formGroup]="form" (ngSubmit)="submit()">
            <mat-form-field appearance="outline">
                <mat-label>Sélectionner un thème</mat-label>
                <mat-select formControlName="topicId">
                    <mat-option *ngFor="let topic of topics$ | async" [value]="topic.id">
                        {{ topic.topic }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Titre de l'article</mat-label>
                <input matInput formControlName="title">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Contenu de l'article</mat-label>
                <textarea matInput formControlName="content"></textarea>
            </mat-form-field>

            <button mat-stroked-button type="submit" class="submit">Créer</button>
        </form>
    </div>
</div>